body {
  font-family: 'Inter', sans-serif;
  min-width: 320px;
  color: $main-color;
  font-size: 16px;
}

.container {
  display: block;
  position: relative;
  padding: 0 15px;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}

h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

.page {
  min-height: 100vh;
}

@media (min-width: 768px) {
  
  h1 {
    margin-bottom: 30px;
  }
}

@media (min-width: 998px) {
  
  h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
